.banner{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 760px;
    margin: 0 auto 20px;
}
img.sunset{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}
.car{
    border-style: dashed;
    margin-right: 4px;
}
.italic{
    font-style: italic;
}
.link{
    text-decoration: none;
}
p{
    width: 760px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px; 
    font-size: 18px;
}
.icone:before{
    content: "\00A9 \00A0";
}
.bottom{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
    width: 760px;
    margin: auto;
    font-size: 20px;
}