@font-face {
    font-family: Raleway;
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
}
body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgb(134 64 207 / 80%), #b3858d61);
}
h1{
    color: white;
    font-family: Raleway;
    font-size: 60px;
    text-align: center;
}
.text__base{
    font-family: Raleway;
    color: rgba(255, 255, 255, 0.685);
    text-align: center;
    font-size: 12px;
    word-break: break-all;
}
.text{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}
.picture {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 40px 0px 40px;
}
.gallery {
box-shadow: 0px 4px 15px 0px rgb(93 20 169 / 47%);
height: 225px;
}
.gallery:hover {
    transform: scale(1.05);
}
.gallery_img:hover {
    filter: blur(2px);
}
.headline {
    position: absolute;
    color: white;
    font-family: Raleway;
    width: 197px;
    margin-top: 145px;
    margin-left: 15px;
    z-index: 3;
}
.gallery__text {
    position: absolute;
    color: white;
    font-family: Raleway;
    margin-top: 200px;
    font-size: 10px;
    margin-left: 15px;
    z-index: 3;
}
.gradient{
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    width: 280px;
    height: 100px;
    margin-top: 125px;
    z-index: 2;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.wrapper__vw{
    color: white;
    background-color: #ff2a3d;
    border: none;
    width: 140px;
    height: 40px;
    font-family: 'Raleway';
    font-size: 15px;
    box-shadow: 0px 4px 4px 0px rgb(93 20 169 / 47%);
    cursor: pointer;
}
.wrapper__vw:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 2px 2px #ff002b81;
}
.data{
    position: absolute;
    color: white;
    background-color: #000000ab;
    border-radius: 4px;
    width: 38px;
    text-align: center;
    font-family: 'Raleway';
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    z-index: 3;
}
.gallery_img{
    width: 280px;
    height: 225px;
    position: relative;
    z-index: 0;
}
